transport: 'amqp://localhost:5672'

collector:
    file:
        path: '/opt/aleph/samples'

storage:
    local:
        path: '/opt/aleph/storage'

datastore:
    elasticsearch:
        host: 'localhost'
        port: 9200

logging:
    path: 'aleph.log'
