transport: 'amqp://localhost:5672'

relay_folder: '/opt/aleph/triage'

collectors:
    file:
        path: '/opt/aleph/samples'

storages:
    local:
        path: '/opt/aleph/storage'

datastores:
    elasticsearch:
        host: 'localhost'
        port: 9200

logging:
    path: 'aleph.log'
