androguard
boto3
cachetools
celery
coloredlogs
dnspython
elasticsearch
geocoder
geoip2
ioc-finder
iocextract
netaddr
pdfminer.six
pefile
piexif
pip-chill
python-magic
python-slugify
pyyaml
rarfile
ssdeep
tld
validators
virustotal-api
yara-python
