setuptools
androguard
atomicwrites
attrs
boto3
cachetools
celery
coloredlogs
dnspython
elasticsearch
filelock
geocoder
geoip2
ioc-finder
iocextract
lief
more-itertools
netaddr
pdfminer.six
pefile
piexif
pip-chill
pluggy
pre-commit
python-magic
python-slugify
python-whois
rarfile
scapy
ssdeep
tld
validators
virustotal-api
yara-python
